<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>  
    <link rel="stylesheet" href="css/contact.css">
</head>
<body>
    <section>
        <div class="contact">
            <div class="contactinfo">
              <div>
                <h2>Contact Info</h2>
                <ul class="info">
                  <li>
                    <span><img src="/images/location.png" alt=""></span>
                    <span>Indian Institute of Information Technology Guwahati <br>
                      Assam, India <br>
                      781015</span>
                  </li>
                  <li>
                    <span><img src="/images/mail.png" alt=""></span>
                    <span>BankWiz@gmail.com</span>
                  </li>
                  <li>
                    <span><img src="/images/call.png" alt=""></span>
                    <span>901-606-8450</span>
                  </li>
                </ul>
            </div>
            <ul class="sci">
                <li><a href="#"><img class="a" src="/images/1.png" alt=""></a></li>
                <li><a href="#"><img class="b" src="/images/2.png" alt=""></a></li>
                <li><a href="#"><img class="d" src="/images/4.png" alt=""></a></li>
                <li><a href="#"><img class="e" src="/images/5.png" alt=""></a></li>
                <li><a href="#"><img class="c" src="/images/3.png" alt=""></a></li>
            </ul>
            </div>
            <form class="contactform" action = "/contact" method = "POST">
              <h2>Send a Message</h2>
              <div class="formbox">
                <div class="inputbox">
                  <input type="text" name="first_name"  required>
                  <span>First Name</span>
                </div>
                <div class="inputbox w50">
                  <input type="text" name="last_name" required>
                  <span>Last Name</span>
                </div>
                <div class="inputbox w50">
                  <input type="text" name="email"  required>
                  <span>Email Address</span>
                </div>
                <div class="inputbox w50">
                  <input type="number" name="number" required>
                  <span>Mobile Number</span>
                </div>
                <div class="inputbox w100">
                  <textarea  name = "message" required></textarea>
                  <span>Write your message here...</span>
                </div>
                <div class="inputbox w100">
                    <a href="http://localhost:3000/index"> Home</a>
                    <button>Send</button>
                </div>
              </div>
            </form>
          </div>
    </section>
</body>
</html>
<!-- barmy6199@gmail.com  -->