<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing</title>
  <link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <link rel="stylesheet" href="css/style1.css">
</head>

<body>
  <header>
    <div class="header">
      <h1>BankWiz</h1>
      <!-- <p>My supercool header</p> -->
    </div>
    <div class="topnav">
      <a href="#">Home</a>
      <a href="#about">About</a>
      <a href="#">FAQ</a>
      <a href="http://localhost:3000/contact">Contact</a>
    </div>
  </header>
  <div class="page">
    <div class="hero">
      <div>
        <div class="heading">
          Bringing banking solution to your fingertips...
        </div>
        <div>
          <p class="body_text">
            An online banking application offering secure, convenient access to financial transactions and
            account management through a user-friendly web interface.
          </p>
        </div>
      </div>
      <div class="btns">
        <button class="btn1" onclick = "window.location.href='http://localhost:3000/signup'">SIGN UP</button>
        <button class="btn2" onclick = "window.location.href='http://localhost:3000/signin'">LOG IN </button>
      </div>
      <div>
        <img class="image-hero" src="images/Project_44-02.jpg" alt="">
      </div>
      <!-- <hr class="line"> -->
    </div>
  </div>
  <div class="content">
    <div>
      <h6 class="end-heading">About us</h6>
    </div>

    <div>
      <p class="body_text2">
        An online banking application will be applicable everywhere, where banking exists and the need for
        banking
        exists everywhere. This application will try to achieve a more efficient and easier way to have a record
        of
        data through which everyone can access it according to their rights as compared to the traditional
        banking
        system. Every bank now uses an online banking system as it contains many features which can be accessed
        from
        anywhere in the world through the internet and ultimately provides ease of access to all its customers.
        <br>
        This online banking system demonstrates the ease of access and use among users. The main objective of
        the
        application is to develop an application that literally changes the way our traditional banking systems
        work.
        This application will be different from its competitors in the market because of its ease of
        availability, access, and use.
      </p>
    </div>
  </div>
  <div class="container">


    <input type="radio" name="slider" class="d-none" id="s1" checked>
    <input type="radio" name="slider" class="d-none" id="s2">
    <input type="radio" name="slider" class="d-none" id="s3">
    <input type="radio" name="slider" class="d-none" id="s4">
    <input type="radio" name="slider" class="d-none" id="s5">

    <div class="cards">
      <label for="s1" id="slide1">
        <div class="card">
          <div class="image">
            <img src="/images/Project_44-02.jpg" alt="">
          </div>
          <div class="infos">
            <span class="name">Nike SuperRep Go</span>
            <span class="lorem">Lorem ipsum dolor sit amet, sit amet adipiscing elit. Aenean vel ansd . Nullam
              lorem. Nulla eu
              sodales</span>
          </div>
          <!-- <a href="/contact" class="btn-contact">details</a> -->
          
        </div>
      </label>

      <label for="s2" id="slide2">
        <div class="card">
          <div class="image">
            <img src="/images/bankwiz2.png" alt="">
          </div>
          <div class="infos">
            <span class="name">Free Run Flyknit</span>
            <span class="lorem">Lorem ipsum dolor sit, adipiscing elit. Aenean vel sit ansd . Nullam
              lorem. Nulla eu
              sodales karma stellus</span>
          </div>
          <!-- <a href="/contact" class="btn-contact">details</a> -->
          
        </div>
      </label>

      <label for="s3" id="slide3">
        <div class="card">
          <div class="image">
            <img src="/images/bankwiz_login.png" alt="">
          </div>
          <div class="infos">
            <span class="name">Black Toe Union</span>
            <span class="lorem">Lorem ipsum dolor, sit amet let kar adipiscing. Aenean vel velit sit ansd . Nullam
              lorem. Nulla karma stellus</span>
          </div>
          <!-- <a href="/contact" class="btn-contact">details</a> -->
          
        </div>
      </label>

      <label for="s4" id="slide4">
        <div class="card">
          <div class="image">
            <img src="/images/Internet_Banking_Singgle-01_generated.jpg" alt="">
          </div>
          <div class="infos">
            <span class="name">Retro High Og</span>
            <span class="lorem">Lorem ipsum dolor sit, sit amet elit. Aenean sit amet sit amet vel velit sit ansd. Nulla
              eu
              sodales stellus</span>
          </div>
          <!-- <a href="/contact" class="btn-contact">details</a> -->
          
        </div>
      </label>

      <label for="s5" id="slide5">
        <div class="card">
          <div class="image">
            <img src="/images/Untitled design.png" alt="">
          </div>
          <div class="infos">
            <span class="name">Off-White Air Jordan</span>
            <span class="lorem">Lorem ipsum sit amet, sit amet elit. Aenean vel velit ansd . Nullam
              lorem. Nulla eu
              sodales stellus</span>
          </div>
          <!-- <a href="/contact" class="btn-contact">details</a> -->
          
        </div>
      </label>


    </div>
    <div>
      <h6 class="end-heading">&lt; Services We Provide &gt;</h6>
    </div>
  </div>
  
  <div>
    <div class="foot">

    </div>
    <div class="footer">

    </div>
  </div>

</body>

</html>