<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loans</title>
    <link
      href="https://fonts.googleapis.com/css?family=Outfit"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/loan.css" />
  </head>
  <body>
    <header>
      <div class="header">
        <h1>BankWiz</h1>
        <!-- <p>My supercool header</p> -->
      </div>
      <div class="topnav">
        <a href="http://localhost:3000">Home</a>
        <a href="#about">About</a>
        <a href="#">FAQ</a>
        <a href="http://localhost:3000/contact">Contact</a>
      </div>
    </header>
    <div class="page">
      <div class="hero">
        <div>
          <div class="heading">
            Different loans for different needs....
          </div>
          <div>
            <p class="body_text">
              BankWiz offers a wide range of loans to meet your diverse needs.
              Whether the need is for a house, child's education, our unique and
              need specific loans will enable you to convert your dreams to
              realities.
            </p>
          </div>
        </div>
        <div class="btns">
          <button class="btn1">Apply</button>
          <!-- <button class="btn2">LOG IN </button> -->
        </div>
        <!-- <hr class="line"> -->
      </div>
    </div>

    <!-- =======================types of loans================ -->
    <div class="cards">
      <div class="heading2">Types of loan</div>
      <p>Explore our range of loans designed for your unique needs.</p>
      <div class="row">
        <div class="card">
          <div class="icon">
            <img src="/images/Home-Loan.jpg" alt="" />
          </div>
          <div class="content">
            <h3>Home Loan</h3>
          </div>
        </div>
        <div class="card">
          <div class="icon">
            <img src="/images/car_loan.jpg" alt="" />
          </div>
          <div class="content">
            <h3>Vehicle Loan</h3>
          </div>

        </div>
        <div class="card">
          <div class="icon">
            <img src="/images/personal-loan.jpg" alt="" />
          </div>
          <div class="content">
            <h3>Personal Loan</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <div class="icon">
            <img src="/images/gold.jpg" alt="" />
          </div>
          <div class="content">
            <h3>Gold Loan</h3>
          </div>
        </div>
        <div class="card">
          <div class="icon">
            <img src="/images/education_loan.jpg" alt="" />
          </div>
          <div class="content">
            <h3>Education Loan</h3>
          </div>
        </div>
        <div class="card">
          <div class="icon">
            <img src="/images/Home-Loan.jpg" alt="" />
          </div>
          <div class="content">
            <h3>Home Loan</h3>
          </div>
        </div>
      </div>
    </div>

    <!-- ================== loan ================= -->
    <div class="loan">
      <div class="form_loan">
        <form action ="/loan" method = "POST">
        <label for="anum">Account Number</label>
    <input type="number" id="anum" name="accountNumber" placeholder="Account Number...">
          <label for="fname">Amount</label>
          <input
            type="number"
            id="fname"
            name="amount"
            placeholder="Loan amount..."
          />

          <label for="lname">Duration</label>
          <input
            type="number"
            id="lname"
            name="years"
            placeholder="Number of years to repay..."
          />

          <label for="country">Type</label>
          <select id="country" name="type">
            <option value="Home">Home Loan</option>
            <option value="Education">Education Loan</option>
            <option value="Vehicle">Vehicle Loan</option>
            <option value="Gold">Gold Loan</option>
            <option value="personal">Personal Loan</option>
            <option value="Other">Other Loan</option>
          </select>

          <input type="submit" value="Submit" />
        </form>
      </div>
      <footer>

      </footer>
    </div>

    <script src="loan.js"></script>
  </body>

</html>