<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><signin-signup></signin-signup></title>
    <link rel="stylesheet" href="css/style2.css">
</head>

<body>
    <div class="container">
        <div class="signin-signup">
            <form class="sign-in-form">
                <h2 class="title">Sign in</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Username" name = "username" id="user_n">
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password" name = "password" id="pass_n">
                </div>
                <button class="btn" onclick=(my_fun())>Login</button>
            </form>
            {{!-- <button class="btn" onclick=(my_fun())>gogo</button> --}}
            <form action ="/register" method = "POST" class="sign-up-form">
                <h2 class="title">Sign up</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Name" name ="name">
                </div>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Address" name = "address">
                </div>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="number" name="contact" placeholder="8888888888" pattern="[0-9]{9}" maxlength="12"  title="Ten digits code" required/>    
                    <label style="font-size:9px;padding-left:20px"></label> 
                </div>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="date" name="dob" id="" placeholder="Date of Birth" >
                </div>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Username" name = "username">
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password" name = "password">
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Confirm Password" name = "conf_password">
                </div>
                <div class="input-radio">
                    <i class="fas fa-user"></i>
                    <input type="radio" name="gender" value="male"> Male
                    <input type="radio" name="gender" value="female"> Female
                    <input type="radio" name="gender" value="female"> Others
                </div>
                <input type="submit" value="Login" class="btn">
            </form>
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Member of BankWiz?</h3>
                    <!-- <P>Lorem ipsum dolor sit amet consectetur adipisicing</P> -->
                    <button class="btn" id="sign-in-btn">Sign in</button>
                    <img src="images/bankwiz2.png" alt="" class="image">
                </div>
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>New to BankWiz?</h3>
                    <!-- <P>Lorem ipsum dolor sit amet consectetur adipisicing</P> -->
                    <button class="btn" id="sign-up-btn">Sign up</button>
                    <img src="images/bankwiz_login.png" alt="" class="image">
                </div>
            </div>
        </div>
    </div>
    <script src="app.js"></script>
    <script>
        const my_fun= async()=>{
            let username = document.querySelector('#user_n');
            let password = document.querySelector('#pass_n');
            console.log(username.value);
            const result= await fetch('http://localhost:3000/regi',{
                method : 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    "username":username.value,
                     "password": password.value,
                })
            })
            const data= await result.json();
            console.log(data);
            if(data.error){
                alert(JSON.stringify({"error": data.error}))
            }
            else{
                window.localStorage.setItem("user_name",username.value);
                window.location.href = `http://localhost:3000${data.message}` ;
            }
            {{!-- alert(JSON.stringify({"account": data})); --}}

    }
    </script>
</body>

</html>