<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user Dashboard</title>
    <link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="css/user.css">
</head>

<body>
    <div class="container">
        <div class="navigation">
            <!-- <h2>Dashboard</h2> -->
            <ul>
                <li>
                    <a href="index.html">
                        <span class="icon">
                            <!-- <ion-icon name="home-outline"></ion-icon> -->
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="divVisibility('Div1');">
                        <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
                        <span class="title">User Details</span>
                    </a>
                    
                </li>
                <li>
                    <a href="#" onclick="divVisibility('Div2');">
                        <span class="icon"><ion-icon name="card-outline"></ion-icon></span>
                        <span class="title">Transaction History</span>
                    </a>
                    
                </li>
                <li>
                    <a href="#" onclick="divVisibility('Div3');">
                        <span class="icon"><ion-icon name="chatbox-outline"></ion-icon></ion-icon></span>
                        <span class="title">Deposit</span>
                    </a>
                    
                </li>
                <li>
                    <a href="#" onclick="divVisibility('Div4');">
                        <span class="icon"><ion-icon name="chatbox-outline"></ion-icon></ion-icon></span>
                        <span class="title">Withdraw</span>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="divVisibility('Div5');">
                        <span class="icon"><ion-icon name="chatbox-outline"></ion-icon></ion-icon></span>
                        <span class="title">Transfer</span>
                    </a>
                </li>

                <!-- <li>
                    <a href="">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Home</span>
                    </a>
                </li>
                <li>
                    <a href="" onclick="divVisibility('Div1');">
                        <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
                        <span class="title">User Details</span>
                    </a>
                </li>
                <li>
                    <a href="" onclick="divVisibility('Div2');">
                        <span class="icon"><ion-icon name="card-outline"></ion-icon></span>
                        <span class="title">Transaction History</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="icon"><ion-icon name="chatbox-outline"></ion-icon></ion-icon></span>
                        <span class="title">Deposit</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="icon"><ion-icon name="chatbox-outline"></ion-icon></ion-icon></span>
                        <span class="title">Withdraw</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="icon"><ion-icon name="chatbox-outline"></ion-icon></ion-icon></span>
                        <span class="title">Transfer</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                        <span class="title">Log out</span>
                    </a>
                </li> -->
            </ul>
        </div>
        <div class="main">
            <div class="main_div">
                <div class="buttons">
                    <!-- <a href="#" onclick="divVisibility('Div1');">Div1</a> |
                    <a href="#" onclick="divVisibility('Div2');">Div2</a> |
                    <a href="#" onclick="divVisibility('Div3');">Div3</a> |
                    <a href="#" onclick="divVisibility('Div4');">Div4</a> -->
                </div>
                <div class="inner_div">
                    <!-- <div id="Div1">I'm Div One</div> -->
                    <!-- <div id="Div2" style="display: none;">I'm Div Two</div> -->
                    <!-- <div id="Div3" style="display: none;">I'm Div Three</div> -->
                    <!-- <div id="Div4" style="display: none;">I'm Div Four</div> -->
                </div>
            </div>
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>

                <div class="user">
                    <img src="/images/crop1.jpg" alt="">
                </div>
            </div>

            <!-- ======================= User Details ================== -->
            <div id="Div1">
                <div class="cardBox">
                    <div class="card">
                        <div>
                            <div class="numbers">875654</div>
                            <div class="cardName">Account No. </div>
                        </div>

                        <div class="iconBx">
                            <ion-icon name="person-add-outline"></ion-icon>
                        </div>
                    </div>

                    <div class="card">
                        <div>
                            <div class="numbers">3456</div>
                            <div class="cardName">Balance (in Rs) </div>
                        </div>

                        <div class="iconBx">
                            <ion-icon name="cash-outline"></ion-icon>
                        </div>
                    </div>

                    <div class="card">
                        <div>
                            <div class="numbers">8</div>
                            <div class="cardName">Transfers Done</div>
                        </div>

                        <div class="iconBx">
                            <ion-icon name="swap-horizontal-outline"></ion-icon>
                        </div>
                    </div>

                    <!-- <div class="card">
                    <div>
                        <div class="numbers">284</div>
                        <div class="cardName">Messages</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="chatbubbles-outline"></ion-icon>
                    </div>
                </div> -->

                </div>

                <!-- ================ Order Details List ================= -->
                <div class="details">
                    <div class="recentOrders">
                        <div class="cardHeader">
                            <h2>Recent Transactions</h2>
                            <a href="#" class="btn">View All</a>
                        </div>

                        <!-- <table>
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Amount</td>
                                <td>Type</td>
                                <td>Status</td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Karuna Sharma</td>
                                <td>$1200</td>
                                <td>Deposit</td>
                                <td><span class="status complete"> Successful </span></td>
                            </tr>

                            <tr>
                                <td>Erza Scarlet </td>
                                <td>$110</td>
                                <td>Withdrawal</td>
                                <td><span class="status pending">Pending</span></td>
                            </tr>

                            <tr>
                                <td>Titania</td>
                                <td>$1200</td>
                                <td>Deposit</td>
                                <td><span class="status complete">Successful</span></td>
                            </tr>

                            <tr>
                                <td>Harsh Gaur</td>
                                <td>$620</td>
                                <td>Withdrawal</td>
                                <td><span class="status inProgress">In Progress</span></td>
                            </tr>

                            <tr>
                                <td>Kakashi Hatake</td>
                                <td>$1200</td>
                                <td>Withdrawal</td>
                                <td><span class="status complete">Successful</span></td>
                            </tr>

                            <tr>
                                <td>Aditya Ratnakar</td>
                                <td>$110</td>
                                <td>Deposit</td>
                                <td><span class="status pending">Pending</span></td>
                            </tr>

                            <tr>
                                <td>Kavya Girish Shah</td>
                                <td>$1200</td>
                                <td>Withdrawal</td>
                                <td><span class="status failed">Failed</span></td>
                            </tr> -->

                        <!-- <tr>
                                <td>Addidas Shoes</td>
                                <td>$620</td>
                                <td>Due</td>
                                <td><span class="status inProgress">In Progress</span></td>
                            </tr> -->
                        </tbody>
                        </table>
                    </div>

                    <!-- ================= New Customers ================ -->
                    <div class="recentCustomers">
                        <div class="cardHeader">
                            <h2>Account Details</h2>
                        </div>

                        <!-- <table>
                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="/images/bankwiz_login.png" alt=""></div>
                            </td>
                            <td>
                                <h4>David <br> <span>Italy</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="/images/bankwiz_login.png" alt=""></div>
                            </td>
                            <td>
                                <h4>Amit <br> <span>India</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="/images/bankwiz_login.png" alt=""></div>
                            </td>
                            <td>
                                <h4>David <br> <span>Italy</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="/images/bankwiz_login.png" alt=""></div>
                            </td>
                            <td>
                                <h4>Amit <br> <span>India</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="/images/bankwiz_login.png" alt=""></div>
                            </td>
                            <td>
                                <h4>David <br> <span>Italy</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="/images/bankwiz_login.png" alt=""></div>
                            </td>
                            <td>
                                <h4>Amit <br> <span>India</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="/images/bankwiz_login.png" alt=""></div>
                            </td>
                            <td>
                                <h4>David <br> <span>Italy</span></h4>
                            </td>
                        </tr>
                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="/images/bankwiz_login.png" alt=""></div>
                            </td>
                            <td>
                                <h4>Amit <br> <span>India</span></h4>
                            </td>
                        </tr>
                    </table> -->
                    </div>
                </div>
            </div>
            <!-- ======================= Transaction history ================== -->
            <div id="Div2" style="display: none;">
                <!-- <h1>helloooooooooooooooooooooo here is your transaction history</h1> -->
                
            </div>
            <!-- ======================= Deposit ================== -->
            <div id="Div3" style="display: none;">
                <!-- <h1>helloooooooooooooooooooooo here is your transaction history</h1> -->
                <div class="cardform">
                    <div class="card">
                        <h2>How much Amount do you want to deposit?</h2>
                        <p>
                            <label for="amount"> Amount:</label>
                            <input type="number" name="deposit" id="deposit">
                            <label for="amount"> Account number:</label>
                            <input type="number" name="account" id="account">
                            {{!-- <input type="submit" value="submit"> --}}
                            <button onclick="send()">pressu me</button>
                        </p>
                    </div>
                </div>
            </div>
            <!-- ======================= withdrawal ================== -->
            <div id="Div4" style="display: none;">
                <!-- <h1>helloooooooooooooooooooooo here is your transaction history</h1> -->
                <div class="cardform">
                    <div class="card">
                        <h2>How much Amount do you want to Withdraw?</h2>
                        <p>
                            <label for="amount"> Amount</label>
                            <input type="number" name="amount" id="withdraw">
                            <label for="amount"> Account number:</label>
                            <input type="number" name="accountNumber" id="account1" value={{accountNumber}}>
                             <button onclick="withdrawl()">pressu me</button>
                        </p>
                    </div>
                </div>
            </div>
            <!-- ======================= transfer ================== -->
            <div id="Div5" style="display: none;">
                <!-- <h1>helloooooooooooooooooooooo here is your transaction history</h1> -->
                <div class="cardform">
                    <div class="card">
                        <h2>Transfer</h2>
                        <form action="">
                            <label for="amount">Amount:</label>
                            <input type="number" name="amount" id="amount">
                            <label for="amount">Reciver's Account number:</label>
                            <input type="number" name="account" id="account">
                            <input type="submit" value="submit">
                        </form>
                    </div>
                </div>
            </div>
            <!-- ======================= log out ================== -->

        </div>
    </div>
    <script>
    const send= async()=>{
            let deposit = document.querySelector('#deposit');
            let account = document.querySelector('#account');
            console.log(deposit.value);
            const result= await fetch('http://localhost:3000/api/account/deposit',{
                method : 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    "accountNumber":account.value,
                     "amount": deposit.value,
                })
            })
            const data= await result.json();
            console.log(data);
            alert(JSON.stringify({"account": data.account}));

    }
    const withdrawl= async()=>{
            let deposit = document.querySelector('#withdraw');
            let account = document.querySelector('#account1');
            console.log(deposit.value);
            const result= await fetch('http://localhost:3000/api/account/withdraw',{
                method : 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    "accountNumber":account.value,
                     "amount": deposit.value,
                })
            })
            const data= await result.json();
            console.log(data);
            alert(JSON.stringify({"account": data.account}));

    }
    </script>
    <script src="user.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>