* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit','Roboto';
}
section{
    position: relative;
    display: flex ;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #271561;
}
img
{
    height: 50px;
}
section::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #ececff;
}
section .contact
{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}
section .contact .contactinfo
{
    border-radius: 30px;
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #271561;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 4px 80px rgba(136, 159, 255, 0.33);
}
section .contact .contactinfo h2
{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
section .contact .contactinfo .info
{
    position: relative;
    margin: 20px 0;
}
section .contact .contactinfo .info li
{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}
section .contact .contactinfo .info li span:nth-child(1)
{
    width: 30px;
    min-width: 30px;
}
section .contact .contactinfo .info li span:nth-child(1) img{
    max-width: 100%;
    height: 25px;
    filter:invert(1) ;
    opacity: 0.5;
}
section .contact .contactinfo .info li span:nth-child(2)
{
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
    opacity: 0.5;
}
section .contact .contactinfo .info li:hover span:nth-child(1) img,
section .contact .contactinfo .info li:hover span:nth-child(2)
{
    opacity: 1;
}
section .contact .contactinfo .sci
{
    position: relative;
    display: flex;
}
section .contact .contactinfo .sci li
{
    list-style: none;
    padding: 15px;
}
section .contact .contactinfo .sci li a
{
    text-decoration: none;
}
section .contact .contactinfo .sci li a img{
    filter: invert(1);
    opacity: 0.5;
    display: flex;
    vertical-align:top;
}
.a{
    height: 20px;
}
.b{ height: 25px;}
.c{ height: 30px;}
.d{ height: 30px;}
.e{ height: 30px;}
section .contact .contactinfo .sci li:hover a img
{
    opacity: 1;
}

section .contact .contactform
{
    border-radius: 30px;
    position: absolute;
    padding: 70px 50px;
    background: white;
    margin-left: 150px;
    padding-left: 250px;
    padding-top: 100px;
    width: calc(100% - 150px);
    height: 100%;
    box-shadow: 0 50px 50px rgba(0, 0, 0,0.5);
}
section .contact .contactform .formbox
{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
section .contact .contactform .formbox .inputbox
{
    position: relative;
    margin: 0 0 35px 0;
}
section .contact .contactform .formbox .inputbox.w50
{
    width: 47%;
}
section .contact .contactform .formbox .inputbox.w100
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
section .contact .contactform .formbox .inputbox input,
section .contact .contactform .formbox .inputbox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    resize: none;
    color: #333;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}
section .contact .contactform .formbox .inputbox textarea
{
    min-height: 100%;
}
section .contact .contactform .formbox .inputbox span{
    position: absolute;
    left: 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    transition: 0.5s;
    pointer-events: none;
}
section .contact .contactform .formbox .inputbox input:focus ~ span,
section .contact .contactform .formbox .inputbox textarea:focus ~ span,
section .contact .contactform .formbox .inputbox input:valid ~ span,
section .contact .contactform .formbox .inputbox textarea:valid ~ span
{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: palevioletred;
}
section .contact .contactform .formbox .inputbox input[type="submit"]
{
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    background: #271561;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;
}

button{
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    background: #271561;
    color: #fff;
    border: none;
    max-width: 300px;
    min-width: 150px;
    padding: 12px;

}

section .contact .contactform .formbox .inputbox input[type="submit"]:hover{
    background-color: #ececff;
    color: black;
}
section .contact .contactform .formbox .inputbox a
{
    text-decoration: none;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    /* background: #271561; */
    color: #000000;
    border: none;
    width: 100px;
    padding: 12px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}
section .contact .contactform .formbox .inputbox a:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
    color: black;
}
